/* Estilos para la barra de búsqueda */
#search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* Controles de cantidad */
.cart-item .controls {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.cart-item .controls button {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item .controls button:hover {
  background-color: #ccc;
}